<button class="mobile-toggle" onclick="toggleSidebar()">
  <i class="fa-solid fa-bars"></i>
</button>

<div class="sidebar" id="sidebar">
  <div class="logo">Ruang<span>Cerita</span></div>

  <div class="menu-title">MENU</div>

  <a
    href="#"
    class="menu-item active"
    onclick="loadPage('dashboard','Dashboard');
      setActiveMenu(this);
    "
  >
    <i class="fa-solid fa-chart-line"></i>
    Dashboard
  </a>

  <a
    href="#"
    class="menu-item"
   onclick="loadPage('konsultasi','Konsultasi');
      setActiveMenu(this);
    "
  >
    <i class="fa-solid fa-comments"></i>
    Konsultasi
  </a>

  <a href="#"
   class="menu-item"
  onclick="loadPage('edukasi','Edukasi');
      setActiveMenu(this);
    ">
    <i class="fa-solid fa-book"></i>

    Edukasi
  </a>

  <a href="#" class="menu-item"
  onclick="loadPage('konselor','Konselor');
      setActiveMenu(this);
    ">
    <i class="fa-solid fa-user-doctor"></i>

    Konselor
  </a>

  <a href="#" class="menu-item"
 onclick="logout()">
    <i class="fa-solid fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>

    Logout
  </a>
</div>
