<button class="mobile-toggle" onclick="toggleSidebar()">
  <i class="fa-solid fa-bars"></i>
</button>

<div class="sidebar" id="sidebar">
  <div class="logo">Ruang<span>Cerita</span></div>

  <div class="menu-title">MENU</div>

  <a
    href="#"
    class="menu-item active"
    onclick="
      loadPage('dashboard');
      setActiveMenu(this);
    "
  >
    <i class="fa-solid fa-chart-line"></i>
    Dashboard
  </a>

  <a
    href="#"
    class="menu-item"
    onclick="
      loadPage('konsultasi');
      setActiveMenu(this);
    "
  >
    <i class="fa-solid fa-comments"></i>
    Konsultasi
  </a>

  <a href="" class="menu-item">
    <i class="fa-solid fa-book"></i>

    Edukasi
  </a>

  <a href="#" class="menu-item">
    <i class="fa-solid fa-user-doctor"></i>

    Konselor
  </a>

  <a href="#" class="menu-item">
    <i class="fa-solid fa-users"></i>

    Pengguna
  </a>

  <a href="#" class="menu-item">
    <i class="fa-solid fa-gear"></i>

    Pengaturan
  </a>
</div>
